<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>element.present.pass</key>
	<string>Expected &quot;{0}&quot; should be present : Actual &quot;{0}&quot; is present</string>
	<key>element.present.fail</key>
	<string>Expected &quot;{0}&quot; should be present : Actual &quot;{0}&quot; is not present</string>
	<key>element.notpresent.pass</key>
	<string>Expected &quot;{0}&quot; should not be present : Actual &quot;{0}&quot; is not present</string>
	<key>element.notpresent.fail</key>
	<string>Expected &quot;{0}&quot; should not be present : Actual &quot;{0}&quot; is present</string>
	<key>element.visible.pass</key>
	<string>Expected &quot;{0}&quot; should be visible : Actual &quot;{0}&quot; is visible</string>
	<key>element.visible.fail</key>
	<string>Expected &quot;{0}&quot; should be visible : Actual &quot;{0}&quot; is not visible</string>
	<key>element.notvisible.pass</key>
	<string>Expected &quot;{0}&quot; should not be visible : Actual &quot;{0}&quot; is not visible</string>
	<key>element.notvisible.fail</key>
	<string>Expected &quot;{0}&quot; should not be visible : Actual &quot;{0}&quot; is visible</string>
	<key>element.disabled.pass</key>
	<string>Expected &quot;{0}&quot; should be disabled : Actual &quot;{0}&quot; is disabled</string>
	<key>element.disabled.fail</key>
	<string>Expected &quot;{0}&quot; should be disabled : Actual &quot;{0}&quot; is not disabled</string>
</dict>
</plist>
